html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button {
    padding: 10px;
    background-color: rgb(56, 168, 56);
    border: 2px solid;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(44, 145, 44);
}

input {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 10px;
  flex-shrink: 0;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}

th {
    border: 1px solid;
    background-color: rgb(123, 123, 123);
}

td {
    border: 1px solid;
}

.advisor-card {
  border:1px solid;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  background-color: lightgray;
  cursor: pointer;
}

.advisor-card:hover {
  border: 2px solid;
}

.advisor-card.highlight-card {
   border: 2px solid;
}

.advisor-card h3 {
  margin:0;
}

.advisor-card p {
  margin:0;
}

.benefit {
    background-color: lightgrey;
    border: grey solid 1px;
    border-radius: 20px;
    margin-top: 20px;
}

.benefit-collapsed {
    display: flex;
    justify-content: center;
}

.benefit-collapsed:hover {
    cursor: pointer;
}

.benefit-expanded{
    margin: 20px;
    margin-top: 0;
    justify-content: center;
}

.benefit-expanded ul{
    margin: 0;
}

.benefit-expanded table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.benefit-links {
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.business-structures {
  width: 20%;
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
}

.calculator-input {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
}

.calculator-input input, select {
    padding: 5px;
    border-radius: 10px;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.checklist {
  display: flex;
  align-items: center;
}

.checklist h4 {
  margin: 10px;
}

.exit-button{
  position: fixed;
  z-index: 1001;
  margin: 10px;
  margin-top: 0;
  cursor: pointer;
  font-size: x-large;
  color: grey;
}

.financial-page {
  display: flex;
  margin: 16px;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.map {
  width: 100vh;
  height: 90vh;
}

.modal {
    background-color: white;
    position: relative;
    height: 90%;
    border-radius: 30px;
    overflow: auto;
}

.modal-wrapper-top {
  position: sticky;
  top: 0;
  background: lightgray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid;
}

.modal-wrapper-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 20px;
}

.modal-background {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.option-header {
  margin: 18px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.option-header a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
}

.news {
  flex: 1;
  overflow-y: auto;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.services {
  background-color: lightgray;
  text-align: center;
  width: 20%;
  flex-shrink: 0;
  border-radius: 8px;
}

.services-option {
  margin: 5px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
}

.services-option a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #000;
    border: black solid 1px;
    text-decoration: none;
    border-radius: 15px;
    box-sizing: border-box;
}

.services-option a:hover {
  border: black solid 2px;
  padding: 9px;
  background-color: rgb(230, 229, 229);
}

.stocks {
  margin-top: 20px;
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  padding: 8px;
  justify-content: space-evenly;
}

.stock-option {
  padding: 8px;
  border-radius: 10px;
}

.tsp-pred {
  justify-content: center;
  display: flex;
  padding: 20px;
  margin: 20px;
  width: 50%;
  background-color: rgb(123, 123, 123);
  border: solid 2px;
  border-radius: 20px;
}